<!DOCTYPE html>
<html ng-app>
<head>
    <title>Holiday Manager</title>
    <link rel="stylesheet" href="style.css">
</head>
<body ng-cloak>

  <div holiday-manager>
  <header id="header">
      <h2>Holiday Manager</h2>
    </header>
    
    <div ng-if="!ctrl.holidaysLoaded || !ctrl.categoriesLoaded">
      {{ctrl.message}}
    </div>
    
    <div ng-if="ctrl.holidaysLoaded && ctrl.categoriesLoaded">
      <nav id="controls">
        <search-holiday 
            title-filter-string="ctrl.titleFilter"
            category-filter-map="ctrl.categoryFilterMap">
        </search-holiday>
        </nav>      
        </div>
        
        <div id="holiday-list">
        <div ng-repeat="holiday in ctrl.holidays | orderBy:'startDate' | filter:{title:ctrl.titleFilter} | categoryfilter:ctrl.categoryFilterMap" class="{{holiday.category}}">
        
         <view-holiday holiday-item="holiday" ng-click="ctrl.selectHoliday(holiday)"></view-holiday> 
        
       
      </div>     
       </div> 
  </div>
  
  <script type="application/dart" src="main.dart"></script>
  <script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>