<!DOCTYPE html>
<html ng-app>
<head>
<title>Holiday Manager</title>

<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<meta name="description" content="">
<meta name="viewport" content="width=device-width">

<link rel="stylesheet" href="pure-min-0.3.0.css">
<link rel="stylesheet" href="style.css">
</head>
<body ng-cloak>

  <div holiday-manager>
<div class="header">
        <div class="pure-menu pure-menu-blackbg pure-menu-open pure-menu-horizontal">
            <a class="pure-menu-heading" href="">Holiday Manager</a>

            <ul>
                <li class="pure-menu-selected"><a href="#">Dashboard</a></li>
                <li><a href="#" ng-click="show = !show">Toggle_Add</a></li>
                <li><a href="#">About</a></li>
            </ul>
        </div>
    </div>
    <section class="pure-g-r">

      <div class="pure-u-1 holiday-piece holiday-piece-bright" id="header">     
        <div ng-if="!ctrl.holidaysLoaded || !ctrl.categoriesLoaded">
          {{ctrl.message}}</div>

        <button ng-click="show = !show"
          class="pure-button pure-button-primary">Show</button>
        <div ng-show="!show">
          <add-holiday holiday-list="ctrl.holidays" categories-list="ctrl.categories"></add-holiday>

        </div>
        <div ng-if="ctrl.holidaysLoaded && ctrl.categoriesLoaded">
          <nav id="controls">
            <search-holiday title-filter-string="ctrl.titleFilter"
              category-filter-map="ctrl.categoryFilterMap">
            </search-holiday>
          </nav>
        </div>
      </div>
   
        <div
          ng-repeat="holiday in ctrl.holidays | orderBy:'startDate' | filter:{title:ctrl.titleFilter} | categoryfilter:ctrl.categoryFilterMap"
          class="pure-u-1-3 holiday-piece holiday-piece-{{holiday.category}}">

          <view-holiday holiday-item="holiday"
            ng-click="ctrl.selectHoliday(holiday)"></view-holiday>

        </div>
      
    </section>
  </div>

  <script type="application/dart" src="main.dart"></script>
  <script type="text/javascript" src="packages/browser/dart.js"></script>
</body>
</html>